.button {
  padding: 8px 16px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 4px;
  font-family: inherit;
  font-size: 14px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &--max-content {
    width: max-content;
  }

  &--full {
    width: 100%;
  }
}

.button:hover {
  background-color: #f3f4f6;
}

.button:active {
  background-color: #e5e7eb;
}
