.welcome {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 12px 24px;
  box-sizing: border-box;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__saves {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
