.toolbar {
  width: 100%;
  max-width: 1280px;
  height: max-content;
  margin: 0 auto;
  box-sizing: border-box;

  &__wrapper {
    z-index: 10000;
    position: relative;
    bottom: 24px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
    width: 95%;
    height: max-content;
    border-radius: 14px;
    background-color: var(--white);
    border: 1px solid var(--gray-base);
    backdrop-filter: saturate(140%) blur(6px);
    -webkit-backdrop-filter: saturate(140%) blur(6px);
    box-shadow:
      0 4px 6px rgba(0, 0, 0, 0.08),
      0 10px 20px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
  }

  &__left,
  &__right {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  &__center {
    display: none;
    font-weight: 700;
    color: var(--gray-darker);
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: 768px) {
  .toolbar {
    &__wrapper {
      top: 24px;
      left: 50%;
    }

    &__center {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;
    }
  }
}
