.local_saves {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    background: var(--white);
    box-shadow: var(--dialog-shadow);
    border-radius: 6px;
    overflow: hidden;

    &__col {
      &--name {
        width: 250px;
      }

      &--updated {
        display: none;
      }
    }

    &__head {
      &--updated {
        display: none;
      }
    }

    thead th {
      text-align: left;
      font-weight: 700;
      padding: 10px 12px;
      border-bottom: 1px solid var(--gray-base);
      color: var(--gray-darker);
      background-color: var(--gray-base);
      box-sizing: border-box;
    }

    tbody td {
      padding: 10px 12px;
      border-bottom: 1px solid var(--gray-base);
      vertical-align: middle;
    }

    tbody tr:hover td {
      background-color: var(--gray-light);
    }

    &__rows {
      &__item {
        &--name {
          width: 250px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &--updated {
          display: none;
        }

        &--empty {
          text-align: center;
          padding: 16px 12px;
          color: var(--gray-darker);
        }

        &__actions {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          gap: 8px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .local_saves {
    &__table {
      &__col {
        &--updated {
          display: table-cell;
        }
      }

      &__head {
        &--updated {
          display: table-cell;
        }
      }
      &__rows {
        &__item {
          &--updated {
            display: table-cell;
            padding: 10px 12px;
            border-bottom: 1px solid var(--gray-base);
            vertical-align: middle;
          }
        }
      }
    }
  }
}
