.field-select {
  display: flex;
  gap: 8px;
  height: 100%;
  min-width: 55px;

  &--horizontal {
    flex-direction: row;
  }

  &--vertical {
    flex-direction: column;
  }

  &__label {
    font-weight: bold;
    color: var(--gray-darker);

    &--hide {
      display: none;
    }
  }

  &__input {
    width: 100%;
    padding: 6px 4px 6px 6px;
    margin-right: 4px;
    font-size: 16px;
    box-sizing: border-box;

    &--error {
      border: 1px solid var(--error);
    }
  }

  &__error {
    color: var(--error);
  }
}
