.form-fieldset {
  display: flex;
  padding: 12px;
  border-radius: 2px;
  border: 1px solid gainsboro;
  box-sizing: border-box;

  &--horizontal {
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
  }

  &--vertical {
    flex-direction: column;
    gap: 16px;
  }
}
