.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__actions {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: flex-end;
    align-items: center;
  }
}
